# GENERAL SETUP
PREFERENCES_FILENAME=br.edu.uepb.nutes.ocariot.prefs

# OCARIoT BRAZILIAN PILOT
OCARIOT_BR_BASE_URL=https://ocariot.nutes.uepb.edu.br

# OCARIoT EUROPEAN PILOT
OCARIOT_EU_BASE_URL=https://api.ocariot.lst.tfo.upm.es

#  FITBIT DEV SETUP
FITBIT_DEV_AUTH_URL=https://localhost/oauth2/authorize
FITBIT_DEV_TOKEN_URL=https://localhost/oauth2/token

#  FITBIT PROD SETUP
FITBIT_PROD_AUTH_URL=https://www.fitbit.com/oauth2/authorize
FITBIT_PROD_TOKEN_URL=https://api.fitbit.com/oauth2/token
