<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.uepb.nutes.ocariot">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.ui.activity.MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.ui.activity.PhysicalActivityDetail"
            android:parentActivityName=".view.ui.activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ui.activity.MainActivity" />
        </activity>

        <activity
            android:name=".view.ui.preference.SettingsActivity"
            android:label="@string/settings_title"
            android:theme="@style/AppTheme.Preferences" />

        <activity android:name="net.openid.appauth.RedirectUriReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="finished"
                    android:scheme="fitbitauth" />
            </intent-filter>
        </activity>

    </application>

</manifest>